{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <!-- Start "Home Page Content" -->
    <div class="home">
        <div class="container">
            <!-- Start "Title & Subtitle" -->
            <div class="row text-center">
                <div class="col-12">
                    <div class="title">
                        <h1 class="h1">SNIPE.GG</h1>
                    </div>
                    <div class="subtitle">
                        <p class="fs-4 fst-italic">
                            Sniping someone has never been so easy
                        </p>
                    </div>
                </div>
            </div>
            <!-- End "Title & Subtitle" -->

            <hr>

            <h2 class="h2 text-start mb-4">Hall of fame (or shame)</h2>

            <!-- Star Swiper -->
            <div class="swiper mySwiper mb-4">
                <div class="swiper-wrapper">
                    {% for summoner in summoners %}
                        <div class="swiper-slide">
                            <div class="card d-flex m-auto border-{{ summoner.leagueSoloQueue.tier |lower }}">
                                <img src="{{ app.request.server.get('API_DDRAGON_LINK') ~ '/cdn/' ~ latestGameVersion ~ '/img/profileicon/' ~ summoner.profileIconId ~ '.png' }}" class="card-img-top" alt="Image profile summoner">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ summoner.gameName }} <span class="fs-6">#{{ summoner.tagLine }}</span></h5>
                                </div>
                                {% if summoner.leagueSoloQueue.tier is same as('UNRANKED') %}
                                    <div class="card-footer text-center fs-5">
                                        UNRANKED
                                    </div>
                                {% else %}
                                    <div class="card-footer text-center fs-5">
                                        {{ summoner.leagueSoloQueue.tier }} {{ summoner.leagueSoloQueue.rank }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <!-- End Swiper -->

            <hr>

            <!-- Start "Last games" -->
            <h2 class="h2 text-start mb-4">Dernières games</h2>

            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                {% for summoner in summoners %}
                    <li class="nav-item" role="presentation">
                        <button 
                            class="nav-link {% if summoner.gameName == 'Demyqewiki2' %}active{% endif %}"
                            id="summoner-{{ summoner.gameName }}-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#summoner-{{ summoner.gameName }}-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="summoner-{{ summoner.gameName }}-tab-pane"
                            aria-selected="true"
                        >
                            {{ summoner.gameName }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
            
            <div class="tab-content mt-4" id="myTabContent">
                {% for summoner in summoners %}
                    <div
                        class="tab-pane fade{% if summoner.gameName == 'Demyqewiki2' %} show active{% endif %}"
                        id="summoner-{{ summoner.gameName }}-tab-pane"
                        role="tabpanel"
                        aria-labelledby="summoner-{{ summoner.gameName }}-tab"
                        tabindex="0"
                    >
                    
                    {% set dataMatch = latestMatches[summoner.gameName] %}
                    {% set data = 
                        {
                            'latestGameVersion': latestGameVersion,
                            'duration': (dataMatch.duration) / 60,
                            'role': dataMatch.role,
                            'championId': dataMatch.championId,
                            'championName': dataMatch.championName,
                            'goldEarned': dataMatch.goldEarned,
                            'nbrKills': dataMatch.nbrKills,
                            'nbrAssists': dataMatch.nbrAssists,
                            'nbrDeaths': dataMatch.nbrDeaths,
                            'kda': dataMatch.nbrDeaths != 0 ? (dataMatch.nbrKills + dataMatch.nbrAssists) / dataMatch.nbrDeaths : 'Perfect',
                            'items': dataMatch.items,
                            'summonerSpells': dataMatch.summonerSpells,
                            'isWin' : dataMatch.isWin
                        }
                    %}
                    {% include 'partials/card-match.html.twig' with data %}
                    </div>
                {% endfor %}
            </div>
            <!-- End "Last Games" -->
        </div>
    </div>
    <!-- End "Home Page Content" -->
{% endblock %}
