<div class="card card-match">
  <div class="card-header text-center {% if data.isWin %}card-header-victoire{% else %}card-header-defaite{% endif %}">
    {{ data.duration|round }} minutes - {% if data.isWin %}<span id="match-victoire">VICTOIRE</span>{% else %}<span id="match-defaite">DEFAITE</span>{% endif %}
  </div>
  <div class="card-body {% if data.isWin %}card-body-victoire{% else %}card-body-defaite{% endif %}">
    <div class="row">
      <!-- Champion -->
      <div class="col-4" id="champion-content">
        <div class="text-center" id="champion-img">
          <img
            src="{{ 'https://ddragon.leagueoflegends.com/cdn/' ~ data.latestGameVersion ~ '/img/champion/' ~ data.championName ~ '.png' }}"
            alt="{{ data.championName }}"
            class="champion-name-img"
          >
        </div>
        <div id="champion-summoners">
          {% for spell in data.summonerSpells %}
            <img 
              src="{{ 'https://cdn5.xdx.gg/spell24/' ~ spell.getSummonerSpellId ~ '.webp' }}"
              alt="{{ spell.getSummonerSpellName }}"
              class="summoner-spell"
            >
          {% endfor %}
        </div>
      </div>
      <!-- Primary Stats -->
      <div class="col-4" id="stats-primary-content">
        <div class="score-content text-center">
          <span id="score-kills">{{ data.nbrKills }}</span>/<span id="score-deaths" class="text-danger">{{ data.nbrDeaths }}</span>/<span id="score-assists">{{ data.nbrAssists }}</span>
        </div>
        <div class="kda-content text-center">
          {% if data.kda != 'Perfect'%}
            <span id="kda">{{ data.kda|round(1, 'floor') }}</span> KDA
          {% else %}
            <span id="kda-perfect">Demacia</span> KDA
          {% endif %}
        </div>
      </div>
      <!-- Items -->
      <div class="col-4" id="items-content">
        {% for item in data.items %}
          {% if item != 0 %}
            <img src="{{ 'https://ddragon.leagueoflegends.com/cdn/' ~ data.latestGameVersion ~ '/img/item/' ~ item ~ '.png' }}" alt="Items">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="card-footer text-center {% if data.isWin %}card-footer-victoire{% else %}card-footer-defaite{% endif %}">
    <div class="row">
      <!-- Secondary Stats -->
      <div class="col-12">
        <span id="gold-earn">{{ data.goldEarned }}</span><img src="https://cdn5.xdx.gg/icons/gold.webp" alt="Gold" title="Gold">
      </div>
    </div>
  </div>
</div>
