@import "./variables.scss";

.home {
    .card {
        width: 18rem;
    }

    .border-unranked {
        border: solid $base-color-unranked 3px;
    }
    .border-iron {
        border: solid $base-color-iron 3px;
    }
    .border-bronze {
        border: solid $base-color-bronze 3px;
    }
    .border-silver {
        border: solid $base-color-silver 3px;
    }
    .border-gold {
        border: solid $base-color-gold 3px;
    }
    .border-platinum {
        border: solid $base-color-platine 3px;
    }
    .border-challenger {
        border: solid $base-color-challenger 3px;
    }

    .table {
        border: solid white 1px;
    }

    .nav-tabs {
        width: 100%;
        li {
            .nav-link {
                padding-left: 22px;
                padding-right: 22px;
                font-size: 0.92rem;
            }
        }
    }

    .card-match {
        width: 100%;

        .card-header-victoire, .card-footer-victoire {
            background: linear-gradient(0deg,rgba(50,115,250,.2),rgba(50,115,250,.2)),#191937;
        }

        .card-header-defaite, .card-footer-defaite {
            background: linear-gradient(0deg, rgba(157, 0, 2, 0.16), rgba(157, 0, 2, 0.16));
        }

        .card-header {
            #match-victoire {
                color: #3e99fa;
                font-weight: bold;
            }

            #match-defaite {
                color: #ff4e50;
                font-weight: bold;
            }
        }

        .card-body-victoire {
            background-color: #22397c;
        }

        .card-body-defaite {
            background-color: #53263e;
        }
        
        .card-body {
            // Champion
            #champion-content {
                #champion-img {
                    img {
                        border: solid 2px rgb(140, 130, 115);
                        margin-bottom: 2px;
                        height: 50px;
                        width: 50px;
                    }
                }

                #champion-summoners {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 24px 24px;
                    grid-row-gap: 2px;
                    grid-column-gap: 2px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            // KDA
            #stats-primary-content {
                display: grid;
                align-items: center;
                grid-column-gap: 2px;
                justify-content: center;
                
                .score-content {
                    font-weight: bold;
                }

                .kda-content {
                    #kda-perfect {
                        color: #FF9B00;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }

            // Runes
            #runes-content {
                display: grid;
                align-items: center;
                grid-column-gap: 2px;
                justify-content: center;
                
                #runes-primary, #runes-secondary {
                    display: grid;
                    justify-content: center;
                    grid-row-gap: 2px;
                    grid-column-gap: 2px;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }

                #runes-primary {
                    grid-template-columns: 24px 24px 24px 24px;
                }

                #runes-secondary {
                    grid-template-columns: 24px 24px;
                }
            }

            // Items
            #items-content {
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(auto-fill, 24px);
                grid-column-gap: 2px;
                align-items: center;

                img {
                    border-radius: 3px;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .card-footer {
            img {
                margin-left: 3px;
            }
        }
    }
}
