// League tier base colors
$base-color-unranked: gray;
$base-color-iron: rgb(81, 72, 74);
$base-color-bronze: rgb(140, 82, 58);
$base-color-silver: rgb(128, 152, 157);
$base-color-platine: rgb(37, 172, 214);
$base-color-gold: rgb(205, 136, 55);
$base-color-challenger: rgb(244, 200, 116);
