<!DOCTYPE html>
<html data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Snipe-Demyqewiki.site - Sniping someone has never been so easy">
        
        <title>{% block title %}Snipe.gg • Sniping someone has never been so easy{% endblock %}</title>
        
        <link rel="icon" type="image/png" href="{{ absolute_url('favicon.png') }}" />
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        {% block body %}{% endblock %}

        <!-- Start "Footer Content" -->
        <div class="footer mt-auto">
            <div class="container">
                <footer class="my-4">
                    <p class="text-center">&copy; 2024-{{ 'now' | date('Y') }} Snipe.gg - snipe-demyqewiki.site - SmashScharrer-Dev</p>
                </footer>
            </div>
        </div>
        <!-- End "Footer Content" -->
    </body>
</html>
